@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <base href="">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" <img src="~/images/dragonodeoro.jpg" />       
    <title>Sistema de inventario</title>
    <link rel="stylesheet" href="~/css/dashlite.css?ver=3.0.3">
    <link id="skin-default" rel="stylesheet" href="~/css/theme.css?ver=3.0.3">
    <link id="skin-theme" rel="stylesheet" href="~/css/skins/theme-green.css?ver=3.0.3">
</head>


<body class="nk-body bg-white npc-default pg-auth">

    <div class="nk-app-root">
        <!-- main s -->
        <div class="nk-main ">
            <div class="nk-wrap nk-wrap-nosidebar">
                <!-- content s -->
                <div class="nk-content ">
                    <div class="nk-split nk-split-page nk-split-lg" style="padding-left:35%;">
                        <div class="nk-split-content nk-block-area nk-block-area-column nk-auth-container bg-white">
                            <div class="absolute-top-right d-lg-none p-3 p-sm-5">
                                <a href="#" class="toggle btn-white btn btn-icon btn-light" data-target="athPromo"><em class="icon ni ni-info"></em></a>
                            </div>
                            <div class="nk-block nk-block-middle nk-auth-body">
                                <div class="brand-logo pb-5">
@*                                    <a href="~/" class="logo-link nk-sidebar-logo">
                                        <img class="logo-light logo-img" src="~/images/dragon.png"
                                             srcset="@Url.Content("~/images/dragon.png") 2x" alt="logo">
                                        <img class="logo-dark logo-img" src="~/images/dragon.png"
                                             srcset="@Url.Content("~/images/dragon.png") 2x" alt="logo-dark">
                                        <img class="logo-small logo-img logo-img-small" width="400px"
                                             src="~/images/dragon.png"
                                             srcset="@Url.Content("~/images/dragon.png") 2x" alt="logo-small">
                                    </a>*@


                                </div>


                                @RenderBody()


                            </div><!-- .nk-block -->
                            <div class="nk-block nk-auth-footer">
                                <div class="nk-block-between">
                                    <ul class="nav nav-sm">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Terminos y condiciones</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Política de privacidad</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Ayuda</a>
                                        </li>

                                    </ul><!-- .nav -->
                                </div>
                                <div class="mt-3">
                                    <p>&copy; @DateTime.Now.Year Proyecto Final TDS. Todos los derechos reservados.</p>
                                </div>
                            </div><!-- .nk-block -->
                        </div><!-- .nk-split-content -->
             @*           <div class="nk-split-content nk-split-stretch bg-lighter d-flex toggle-break-lg toggle-slide toggle-slide-right" data-toggle-body="true" data-content="athPromo" data-toggle-screen="lg" data-toggle-overlay="true">
                            <div class="slider-wrap w-100 w-max-550px p-3 p-sm-5 m-auto">
                                <div class="slider-init" data-slick='{"dots":true, "arrows":false}'>
                                    <div class="slider-item">
                                        <div class="nk-feature nk-feature-center">
                                            <div class="nk-feature-img">
                                                <iframe width="560" height="315" src="https://www.youtube.com/embed/6hm9Dgain60" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                                            </div>
                                            <div class="nk-feature-content py-4 p-sm-5">
                                                <h4>Estrada Web Group</h4>
                                                <p>En este video crearemos el dbcontext y ¿Qué es la clase DbContext?</p>
                                            </div>
                                        </div>
                                    </div><!-- .slider-item -->
                                    <div class="slider-item">
                                        <div class="nk-feature nk-feature-center">
                                            <div class="nk-feature-img">
                                                <iframe width="560" height="315" src="https://www.youtube.com/embed/JxnqEHQKkv8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>
                                            <div class="nk-feature-content py-4 p-sm-5">
                                                <h4>Estrada Web Group</h4>
                                                <p>Crear el modelo ASP.NET Core del Sistema de Inventarios</p>
                                            </div>
                                        </div>
                                    </div><!-- .slider-item -->
                                    <div class="slider-item">
                                        <div class="nk-feature nk-feature-center">
                                            <div class="nk-feature-img">
                                                <iframe width="560" height="315" src="https://www.youtube.com/embed/_rINBtY9sHs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>
                                            <div class="nk-feature-content py-4 p-sm-5">
                                                <h4>Estrada Web Group</h4>
                                                <p>En este video veremos la estructura que tendra el proyecto que desarrollaremos del sistema de inventarios.</p>
                                            </div>
                                        </div>
                                    </div><!-- .slider-item -->
                                </div><!-- .slider-init -->
                                <div class="slider-dots"></div>
                                <div class="slider-arrows"></div>
                            </div><!-- .slider-wrap -->
                        </div><!-- .nk-split-content -->*@
                    </div><!-- .nk-split -->
                </div>
                <!-- wrap s -->
            </div>



            <!-- content s -->
        </div>
        <!-- main s -->
    </div>
    <!-- app-root s -->
    <!-- JavaScript -->
    <script src="~/js/bundle.js?ver=3.0.3"></script>
    <script src="~/js/scripts.js?ver=3.0.3"></script>
    <script src="~/js/EWGCustom.js"></script>
    <!-- select region modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="region">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                <div class="modal-body modal-body-md">
                    <h5 class="title mb-4">Select Your Country</h5>
                    <div class="nk-country-region">
                        <ul class="country-list text-center gy-2">
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/arg.png" alt="" class="country-flag">
                                    <span class="country-name">Argentina</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/aus.png" alt="" class="country-flag">
                                    <span class="country-name">Australia</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/bangladesh.png" alt="" class="country-flag">
                                    <span class="country-name">Bangladesh</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/canada.png" alt="" class="country-flag">
                                    <span class="country-name">Canada <small>(English)</small></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/china.png" alt="" class="country-flag">
                                    <span class="country-name">Centrafricaine</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/china.png" alt="" class="country-flag">
                                    <span class="country-name">China</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/french.png" alt="" class="country-flag">
                                    <span class="country-name">France</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/germany.png" alt="" class="country-flag">
                                    <span class="country-name">Germany</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/iran.png" alt="" class="country-flag">
                                    <span class="country-name">Iran</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/italy.png" alt="" class="country-flag">
                                    <span class="country-name">Italy</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/mexico.png" alt="" class="country-flag">
                                    <span class="country-name">México</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/philipine.png" alt="" class="country-flag">
                                    <span class="country-name">Philippines</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/portugal.png" alt="" class="country-flag">
                                    <span class="country-name">Portugal</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/s-africa.png" alt="" class="country-flag">
                                    <span class="country-name">South Africa</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/spanish.png" alt="" class="country-flag">
                                    <span class="country-name">Spain</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/switzerland.png" alt="" class="country-flag">
                                    <span class="country-name">Switzerland</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/uk.png" alt="" class="country-flag">
                                    <span class="country-name">United Kingdom</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="country-item">
                                    <img src="./images/flags/english.png" alt="" class="country-flag">
                                    <span class="country-name">United State</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- .modal-content -->
        </div><!-- .modla-dialog -->
    </div><!-- .modal -->



    <script>
        var urlGeneral = "@Url.Content("~/")";
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
